<app-header></app-header>
<app-slider [sliderImage]="sliderImages"></app-slider>

<app-product id="part2" *ngFor="let product of products; let i = index" [isReverse]="i%2===1" [productData]="product"></app-product>

<section class="title">
  <span class="instagram">INSTAGRAM</span>
  <span class="espufi">#ESPUFI</span>
</section>

<div class="middle-quarter">
  <div class="row">
    <div *ngFor="let img of peoples" class="col-4">
      <img [src]="img.photo" class="d-block w-100 imgPhoto" alt="...">
    </div>
  </div>
</div>

<section class="title2">
  <span class="newsletter">NEWSLETTER</span>
  <span class="subscribe">SUSCRIBETE</span>
</section>
<section class="subtitle">
  <span class="span-subtitle">y enteraté de todas la novedades</span>
</section>

<section id="part1">
  <form class="container-subscriber" [formGroup]="form">
    <div class="form-input">
      <input formControlName="email" type="text" placeholder=" ingresa tu email">
      <span type="submit" class="icon-arrow" (click)="save()">
       <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </span>
    </div>
    <h6 *ngIf="showMessage">{{dataMessage}}</h6>
    <h6 *ngIf="emailMessageShow" >{{emailMessage}}</h6>
  </form>
</section>
<app-footer id="part3"></app-footer>

