
<app-slider></app-slider>

<app-product *ngFor="let product of products; let i = index" [isReverse]="i%2===1" [productData]="product"></app-product>

<section class="title">
  <span class="instagram">INSTAGRAM</span>
  <span class="espufi">#ESPUFI</span>
</section>

<section class="middle">
</section>

<section>
  <form class="container-subscriber" [formGroup]="form">
    <input formControlName="email" type="text" placeholder=" ingresa tu email">
    <span type="submit" class="icon-arrow" (click)="save()" (keyup)="save()">
    <i class="fa fa-arrow-right" aria-hidden="true"></i>
  </span>
  </form>
  <div>
    <h6 *ngIf="showMessage1">{{dataMessage1}}</h6>
    <br>
    <h6 *ngIf="showMessage2">{{dataMessage2}}</h6>
  </div>
  <div *ngIf="emailMessageShow">
    <h6>{{emailMessage}}</h6>
  </div>
</section>

<h5>Imagenes aleatorias en un array</h5>
<div *ngFor="let item of arr1">
  {{item}}
</div>

