.container-subscriber{
  display: flex;
  justify-content: center;
  align-content: center;
}

input {
  overflow: visible;
  width: 437px;
}
span{
    position: relative;
    top: 3px;
    margin-left: -22px;
    height: 25px;
    display: flex;
    align-items: center;
}

