<div class="footer-container">
  <div class="col-md-15 pufi-footer">
    PUFI
  </div>
  <div class="col-md-15 pufi-list">
    <ul>
      <li><a href="/">PUFI RAIN</a></li>
      <li><a href="/">PUFI PUFF</a></li>
      <li><a href="/">PUFI CART</a></li>
      <li><a href="/">PUFI NAP</a></li>
    </ul>
  </div>

  <div class="col-md-15 pufi-list">
    <ul>
      <li><a href="/">CONTACTO</a></li>
      <li><a href="/">AYUDA</a></li>
      <li><a href="/">CÓMO COMPRAR</a></li>
      <li><a href="/">TÉRMINOS & CONDICIONES</a></li>
    </ul>
  </div>
  <div class="col-md-15 pufi-list2">
    <ul>
      <li><a href="/">COMPRA 100% SEGURA</a></li>
      <section class="icons-list">
        <li><a href="/"><img class="code-qr" src="assets/images/qr-683354.svg"></a></li>
        <li><a href="/"><img class="shield" src="assets/images/shield-304932.svg"></a></li>
        <span>COMPRÁ CON GARANTÍA DE <br> PUFI</span>
      </section>
    </ul>
  </div>
  <div class="col-md-15 pufi-social-media">
      <span>SEGUINOS EN </span>
    <ul>
      <section class="icon-social-media">
        <li><a href="/"><img class="code-qr" src="assets/images/simbolo-de-la-aplicacion-de-facebook.svg"></a></li>
        <li><a href="/"><img class="code-qr" src="assets/images/gorjeo.svg"></a></li>
        <li><a href="/"><img class="code-qr" src="assets/images/instagram.svg"></a></li>
      </section>
    </ul>
  </div>
  <div class="divider">
    <hr>
  </div>
  <span class="name">Nombre : Juan Alexander, Apellidos: Hatum Varela, Tiempo de duracion de la evaluacion: 7 horas.</span>
</div>
