<div class="shadow-nav"></div>
<div id="header" class="header-nav">
    <div class="left-controls">PUFI</div>
    <div class="center-controls">
      <div class="menu-item">
        <img class="icon" src="assets/images/puf.svg">
        <span>PUFI PUFF</span>
      </div>
      <div class="menu-item">
        <img src="assets/images/sombrilla-de-playa.svg">
        <span>PUFI RAIN</span>
      </div>
      <div class="menu-item">
        <img src="assets/images/carrito-de-compras.svg">
        <span>PUFI CART</span>
      </div>
      <div class="menu-item">
        <img src="assets/images/colchon.svg">
        <span>PUFI NAP</span>
      </div>
    </div>
  <div class="right-controls">
    <span>MI CUENTA <i class="fa fa-chevron-down" aria-hidden="true"></i></span>
    <span>MI COMPRA </span>
  </div>
</div>

<div class="menu-mobile" (click)="menuButton()">
  <div>
    <i id="menu-icon" [ngClass]="change! ? 'fa fa-bars':'fa fa-times'" aria-hidden="true"></i>
  </div>
</div>

<div id="menu" class="menu-options active">
  <ul>
    <li><a href="">PUFI PUFF</a></li>
    <li><a href="">PUFI RAIN</a></li>
    <li><a href="">PUFI CART</a></li>
    <li><a href="">PUFI NAP</a><li>
    <li><a href="">MI CUENTA</a></li>
    <li><a href="">MI COMPRA</a></li>
  </ul>
</div>
