<div class="shadow-nav"></div>
<div id="header" class="header-nav">
    <article>PUFI</article>
    <article><a href="/"><img class="icon" src="assets/images/puf.svg"> PUFI PUFF </a></article>
    <article><a href="/"><img src="assets/images/sombrilla-de-playa.svg">PUFI RAIN </a></article>
    <article><a href="/"><img src="assets/images/carrito-de-compras.svg">PUFI CART </a></article>
    <article><a href="/"><img src="assets/images/colchon.svg">PUFI NAP </a></article>
    <article class="right"><a href="/">MI CUENTA </a></article>
    <article class="right"><a href="/">MI COMPRA </a></article>
</div>

