.header-nav {
  padding: 30px;
  width: 100%;
  height: 100px;
  z-index: 2;
  position: fixed;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  color: white;

  .left-controls {
    font-size: 25px;
    font-weight: bold;
    flex-basis: 15%;
  }

  .center-controls {
    display: flex;

    .menu-item {
      color: white;
      padding: 0 15px;
      display: flex;
      flex-direction: column;
      height: 60px;
      justify-content: space-between;
      font-weight: bold;
      font-size: 14px;
      cursor: pointer;

      hover {
        color: rgba(45, 116, 211, 0.59);
      }

      &:not(:last-child) {
        border-right: solid 1px #ffffff70;
      }

      img {
        width: 70px;
        height: 29px;
        display: grid;
      }
    }
  }

  .right-controls {
    color: white;
    font-size: 11px;
    cursor: pointer;

    span:not(:last-child) {
      border-right: solid 1px #ffffff70;
    }

    span {
      padding: 5px 10px;
    }
  }
}
.shadow-nav {
  width: 100%;
  height: 110px;
  position:fixed;
  z-index: 1;
  background: rgb(36,77,170);
  background: linear-gradient( 0deg, rgb(36 77 170 / 0%) 8%, rgb(0 0 0 / 55%) 78%);
}
.menu-mobile {
  z-index: 1000;
  position: absolute;
  display: flex;
  align-items: flex-end;
  width: 50px;
  margin: 0 auto;
  padding-left: 20px;
  padding-top: 9px;
  i {
    font-size: 54px;
    color: white;
  }
}
.menu-mobile i {
  vertical-align: top;
  width: 40px;
  cursor: pointer;
}
.menu-options {
  z-index: 16;
  background-color: rgb(18, 25, 37);
  box-shadow: 2px 0px 5px 2px rgb(66,66,66) ;
  width: 100%;
  height: 100vh;
  position: absolute;
  top:0;
  left: 0;
  transition: all .5s ease;
  padding-left: 22%;
  padding-top: 8px;
  li {
    padding-top: 54px;
    list-style: none;
    font-size: 24px;
    a {
      text-decoration: none;
      color: white;
    }
  }
}
.active {
  transform: translatey(-800px);
}
.opacity {
  background-color: rgba(0,0,0,0.5);
  transition: all .5s ease;
}

@media screen and (max-width: 735px){
  .shadow-nav,.header-nav {
    display: none;
  }
}


@media screen and (min-width: 736px){
  .menu-mobile,.menu-options  {
    display: none;
  }
}

