.header-nav {
  padding: 30px;
  width: 100%;
  height: 100px;
  z-index: 2;
  position: fixed;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  color: white;

  .left-controls {
    font-size: 25px;
    font-weight: bold;
    flex-basis: 15%;
  }

  .center-controls {
    display: flex;

    .menu-item {
      color: white;
      padding: 0 15px;
      display: flex;
      flex-direction: column;
      height: 60px;
      justify-content: space-between;
      font-weight: bold;
      font-size: 14px;
      cursor: pointer;

      hover {
        color: rgba(45, 116, 211, 0.59);
      }

      &:not(:last-child) {
        border-right: solid 1px #ffffff70;
      }

      img {
        width: 70px;
        height: 29px;
        display: grid;
      }
    }
  }

  .right-controls {
    color: white;
    font-size: 11px;

    span:not(:last-child) {
      border-right: solid 1px #ffffff70;
    }

    span {
      padding: 5px 10px;
    }
  }
}
.shadow-nav {
  width: 100%;
  height: 110px;
  position:fixed;
  z-index: 1;
  background: rgb(36,77,170);
  background: linear-gradient( 0deg, rgb(36 77 170 / 0%) 8%, rgb(0 0 0 / 55%) 78%);
}
