.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 14px;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0; // override <ol> default
  list-style: none;
}

.carousel-indicators li {
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 10px;
  height: 10px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  border-radius: 50px;
  border: 1px solid rgb(255, 255, 255);
  background-color: #fff;
  transition: opacity .6s ease;
}

.carousel {
  z-index: 0;
}

.carousel-button {
  display: none;
  position: absolute;
  bottom: calc(26% - 50px);
  left: calc(50% - 50px);
  z-index: 15;
  background-color: #fff0;
  text-transform: uppercase;
  padding: 12px 32.5px;
  font-size: 12px;
  color: #fff;
  border: solid 2px #fff;
  font-family: roboto;
  font-weight: bold;

  @media screen and (min-width: 768px){
    display: block;
  }
}
