
<div *ngIf="sliderImage.length > 0"  id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <button class="carousel-button">Shop</button>
  <div class="carousel-inner">
    <div *ngFor="let image of sliderImage, let index = index; let isFirst = first" [ngClass]="{active: isFirst}" class="carousel-item">
      <img [src]="image.image" class="d-block w-100" alt="...">
    </div>
  </div>
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions"  *ngFor="let image of sliderImage;let index = index" [attr.data-slide-to]="index"></li>
  </ol>
</div>
