.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 14px;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0; // override <ol> default
  list-style: none;
}

.carousel-indicators li {
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 10px;
  height: 10px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  border-radius: 50px;
  border: 1px solid rgb(255, 255, 255);
  background-color: #fff;
  transition: opacity .6s ease;
}

