
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <button class="carousel-button">Shop</button>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/images/FotoPrincipal.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/images/FotoPrincipal.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/images/FotoPrincipal.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>

