<div class="row" [ngClass]="{'reverse': isReverse}">
  <div class="col-12 col-md-6 no-padding">
    <img class="product-photo" [src]= "productData.photo">
  </div>
  <div class="product-card col-12 col-md-6 no-padding">
    <img class="product-image" [src]="productData.image">
    <h3 class="product-name">
      {{productData.name}}
    </h3>
    <div class="divider"></div>
    <p class="paragraph">
      {{productData.description}}
    </p>
    <a href="/">
      > VER MAS
    </a>
  </div>
</div>
