.product-photo {
  width: 100%;

  &:hover+.product-button {
      display: block;
      opacity: 1;
  }
}
.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px 0;

  .product-image {
    width: 20%;
    margin: 0 auto;
  }
  .product-name {
    margin-top: 20px;
  }
  .divider {
    border: 0.5px solid #7070708f;
    width: 44px;
    height: 1px;
    margin: 24px auto 30px auto;
    @media screen and (min-width: 768px) {
      margin: 10px auto 10px auto;
    }
    @media screen and (min-width: 992px) {
      margin: 24px auto 30px auto;
    }
  }
  .paragraph {
    margin: 0 auto 40px;
    color: #585858;
    width: 65%;

    @media screen and (min-width: 768px) {
      width: 50%;
    }
    @media screen and (min-width: 1048px) {
      width: 36%;
    }
  }
  a{
    letter-spacing: 2px;
    color: #5d5d5d;
  }
  :before{
    content: "";
    position: absolute;
    top: 28%;
    left: -111px;
    width: 0;
    height: 0;
    border-right: 100px solid transparent;
    border-top: 100px solid transparent;
    border-left: 100px solid transparent;
    border-bottom: 100px solid #ffffff;
    transform: rotateZ(
        269deg
    );
  }
}
.reverse {
  flex-direction: row-reverse;
  .product-card:after {
    content: "";
    position: absolute;
    top: 28%;
    right: 0;
    width: 0;
    height: 0;
    border-right: 100px solid transparent;
    border-top: 100px solid transparent;
    border-left: 100px solid transparent;
    transform: rotateZ(
        89deg
    );
  }
  @media screen and (min-width: 768px) {
    .product-card:after {
      content: "";
      position: absolute;
      top: 28%;
      right: -111px;
      width: 0;
      height: 0;
      border-right: 100px solid transparent;
      border-top: 100px solid transparent;
      border-left: 100px solid transparent;
      border-bottom: 100px solid #ffffff;
      transform: rotateZ(
          89deg
      );
    }
  }
}

.product-button {
  display: none;
  position: absolute;
  bottom: calc(50% - 23px);
  left: calc(50% - 50px);
  z-index: 15;
  background-color: #fff0;
  text-transform: uppercase;
  padding: 12px 32.5px;
  font-size: 12px;
  color: #fff;
  border: solid 2px #fff;
  font-family: roboto;
  font-weight: bold;
  opacity: 0;
  transition: opacity 1s ease;
}
