<div class="row">
  <div class="col-12 col-sm-6 no-padding">
    <img class="product-photo" src="assets/images/PufiNapFoto.jpg">
  </div>
  <div class="product-card col-12 col-sm-6 no-padding">
    <img class="product-image" src="assets/images/PufiPuffIcono.jpg">
    <h3 class="product-name">
      Puffi PUFF
    </h3>
    <div class="divider"></div>
    <p class="paragraph">
      Descripción del producto.
      este es un texto simulado
    </p>
    <a href="/">
      > VER MAS
    </a>
  </div>
</div>
