.product-photo {
  width: 100%;
}
.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px 0;

  .product-image {
    width: 20%;
    margin: 0 auto;
  }
  .product-name {
    margin-top: 20px;
  }
  .divider {
    border: 0.5px solid #7070708f;
    width: 44px;
    height: 1px;
    margin: 24px auto 30px auto;
    @media screen and (min-width: 768px) {
      margin: 10px auto 10px auto;
    }
    @media screen and (min-width: 992px) {
      margin: 24px auto 30px auto;
    }
  }
  .paragraph {
    margin: 0 auto 40px;
    color: #585858;
    width: 65%;

    @media screen and (min-width: 768px) {
      width: 50%;
    }
    @media screen and (min-width: 1048px) {
      width: 36%;
    }
  }
  a{
    letter-spacing: 2px;
    color: #5d5d5d;
  }
  :before{
    content: "";
    position: absolute;
    top: 40%;
    left: -5px;
    width: 0;
    height: 0;
    border-width: 25px;
    border-style: solid;
    border-color: transparent white transparent transparent;
    transform: rotateZ(
        110deg
    );
  }
}
.reverse {
  flex-direction: row-reverse;
  .product-card:after {
    content: "";
    position: absolute;
    top: 40%;
    right: -5px;
    width: 0;
    height: 0;
    border-width: 25px;
    border-style: solid;
    border-color: transparent white transparent transparent;
    transform: rotateZ(
        291deg
    );
  }
}
